player-connection-mode=Connect
player-connection-guid=3729672155
player-connection-debug=0
player-connection-project-name=Week4 Tasks
player-connection-wait-timeout=-1
player-connection-ip=192.168.23.163
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=054e4d369d9e418786b3c6c8a161918e
